.headerFooter {
  height: 50px;
  background-color: #0F1111;
  color: rgb(241, 232, 232); 
}

.headerFooter__option {
  display: flex;
  align-items: center;
}

.option__links {
  display: flex;
}

.option__links a {
  text-decoration: none;
  color: rgb(236, 231, 231);
  font-size: 13px;
}